:root {
  --yellow: #ffec3f;
  --white: #ffff;
  --black: #000000;
  --purple: #6a3dff;
  --green: #066a31;
  --orange: #e86607;
  --blue: #75e8ff;
  --used-padding: 1.5em;
  --heading-size: 3rem;
  --heading-weight: 500;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Afacad flux';
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas: 
  "header"
  "aboutme"
  "experience"
  "portfolio"
  "skills"
  "footer"
  ;

  grid-template-columns: 1fr;
  grid-template-rows: auto;
  position: relative;
}

body::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  right: 0%;
  z-index: 10;
}



.active::before {
  animation-name: intro-overlay-animation;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  grid-area: header;
  height: 2em;
  background-color: var(--yellow);
}

.about-me-container {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  padding: 0 var(--used-padding) 0 var(--used-padding);
  height: 88vh;
  background-color: var(--yellow);
}

.design-asset-1 {
  position: absolute;
  scale: 0.1;
  top: 20em;
  left: 5em;
  animation-name: design-asset-1-animation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.about-me-heading {
  font-size: var(--heading-size);
  font-weight: var(--heading-weight);
  padding-top: 1em;
  transition: all 0.2s ease-in-out;
  position: relative;
  z-index: 5;
  
}

.about-me-heading::before {
  content: '';
  position: absolute;
  background-color: #75e8ff;
  width: 3.5em;
  height: 15%;
  top: 1.7em;
  left: 0.3em;
  z-index: -1;
  animation-name: heading-automation;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

/* .active-heading-animation {

} */

.about-me-first {
  font-size: 3rem;
  font-weight: 300;
  line-height: 2.7rem;
}

.carl {
  font-weight: 400;
}

.frontend-developer {
  font-weight: 600;
}

.about-me-second {
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.1rem;
}

.typescript, .javascript, .css {
  font-weight: 600;
}


.get-in-touch-button {
  position: relative;
    max-height: 50px;
    max-width: 200px;
    border: 1px solid black;
    text-align: center;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    box-sizing: border-box;
    animation-name: scale-up;
    animation-duration: .5s;
    transition: all .5 ease-in-out;
    box-shadow: -4px 4px var(--blue);
    display: flex;
    align-items: center;
    font-size: 2em;
    font-weight: 400;
    background-color: transparent;
}

.get-in-touch-button:hover {
  background-color: var(--black);
  color: var(--yellow);
}

.experience-wrapper {
  background-color: var(--purple);
  width: 100%;
  height: 70%;
  margin-top: 3em;
  padding: 0 var(--used-padding) 0 var(--used-padding);
  position: relative;
  z-index: 3;
}



.experience {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 50em;
  gap: 1em;
  width: 100%;
  /* padding: 0 var(--used-padding) 0 var(--used-padding); */
 /*  background-color: var(--black); */
 background-color: var(--purple);
}

.white-line {
  position: absolute;
  top:1265px;
  left: 25px;
  z-index: 4;
  height: 115px;
}

.experience-heading {
  font-size: var(--heading-size);
  font-weight: var(--heading-weight);
  color: var(--white);
  position: relative;
  z-index: 1;
  height: 1.5em;
}


.experience-heading::before {
  content: '';
  position: absolute;
  background-color: #e86607;
  width: 3.9em;
  height: 20%;
  top: 0.8em;
  left: 0.3em;
  z-index: -1;
  animation-name: heading-automation;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}


.work-experience-section {
  position: relative;
  padding-top: 1em;
  height: 12em;
  width: 100%;
  border: 2px solid transparent; 
}

.work-experience-section::before, .work-experience-section::after {
  content: '';
  position: absolute;
  background-color: var(--orange); 
}

.work-experience-section::before {
  top: 5em; 
  left: 0; 
  width: 5px; 
  height: 5em; 
}

.work-experience-heading {
  font-size: 2.5rem;
  color: var(--white);
  font-weight: 400;
  position: relative;
  width: 75%;
}

/* .work-experience-heading::before {
  content: '';
  position: absolute;
  background-color: #e86607;
  width: 1.6em;
  height: 0.2em;
  top: 0.9em;
  left: 0.3em;
  z-index: -1;
} */


.work-experience-list {
  margin-top: 10px;
  font-size: 1.5rem;
  color: var(--white);
  height: 3em;
  padding-left: 1em;
}

.experience-section {
  height: 15em;
  width: 100%;
  padding-left: 2em;
}


.education-section {
  position: relative;
  margin-top: 2em;
  height: 20em;
  width: 100%;
  color: var(--white);
  border: 2px solid transparent;
}

.education-section::before, .education-section::after {
  content: '';
  position: absolute;
  background-color: var(--orange); 
}

.education-section::after {
  bottom: 2.5em;
  left: 0; 
  width: 5px;
  height: 13em; 
}

.education-heading {
  position: relative;
  font-size: 2.5rem;
  color: var(--white);
  font-weight: 400;
  width: 75%;
}

/* .education-heading::before {
  content: '';
  position: absolute;
  background-color: #e86607;
  width: 3.6em;
  height: 0.1em;
  top: 37px;
  left: 0.2em;
  z-index: -1;
} */


.education-list {
  padding-left: 1.5em;
  
}

.school-name {
  margin-top: 15px;
  font-size: 1.7rem;
  font-weight: 400;
}

.program-name {
  font-size: 1.5rem;
  font-weight: 300;
}

.year-span {
  font-weight: 300;
  font-size: 1.3rem;
}

@keyframes heading-automation {
  from {
    width: 0;
  }
  to {
    width: 3.5em;
    ;
  }
}

@keyframes design-asset-1-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg)
  }
}

@keyframes intro-overlay-animation {
  from {
    right: 0;

  }
  to {
    right: 100%;
  }
}